# Dependencies
node_modules/
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# TypeScript output
lib/
dist/
build/

# Testing
coverage/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo